.wrapper{
    display: grid;
    grid-template-columns: 5fr 1fr;
    padding: 5px;
    align-items: center
}

.wrapper + .wrapper {
    border-top: 2px solid gainsboro;
}

.danger-button{
    border-radius: 2px;
    height: 100%;
    padding-left: 8px;
    padding-right: 8px;
    width: auto;
    border: none;
    font-size: 13px;
    font-weight: 400;
    background-color: #d70022;
    color: white;
    text-align: center;
}

.date{
    vertical-align: bottom;
    padding-bottom: 0;
    text-align: center;
    font-style: italic;
    margin-bottom: 0;
}

.url{
    display: inline-block;
    width: 100%;
}

p#domainText{
    text-align: center;
    max-width:  1fr;
    align-self: top center;
    word-break: break-all;
}

.block-button{
    background-color: #0060df;
    border-radius: 4px;
    color: white;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 15px;
    font-weight: 400;
    min-width: 132px;
    width: 98%;
    margin-left: 1%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    height: 48px;
    text-decoration: none;
    text-align: center;
}

#list{
    margin-right: 5px;
    margin-left: 5px;
}